

h1 {
  color: black; 
  text-align: center;
}

body {
  font-family: Arial;
}

.image-display {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  gap: 10px 30px;
  margin: auto;
  max-width: 1000px;

}

.chart-item {
  padding: 5px;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  line-height: 150px;
  float:  left;
  text-align: center;
  text-indent: 0;
  margin: 1px;
  padding: 1px;
}

li {
  display: inline;
  border: thick black solid;
}


div.shapes {
  justify-content: center;
  margin: auto;
  max-width: 1000px;
}

rect {
  fill: #FA8072;
  width: 50px; 
  height: 50px;
  
}

rect:hover {
  fill: #03ACB1;
  
}

circle {
  fill: #FA8072;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

circle:hover {
  fill: #03ACB1;
  
}
